<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <img src="https://blog-mailer-api.herokuapp.com/<%=userid%>/<%=userpostid%>/tracker.png" alt="" height="1" width="1">
        <div class="FullPost"
             style="
                    width: 80%;
                    margin: 20px auto;
                    border: 1px solid #eee;
                    box-shadow: 0 2px 3px #ccc;
                    text-align: center;">
          <h1><%=title%></h1>
          <p><%=body%></p>
          <p><%=author%></p>
        </div>
    </body>
</html>